# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/top20hub-services/target/
/top20hub-web/target/

/top20hub-web/.settings
/top20hub-web/.classpath
/top20hub-web/.project

/top20hub-services/.settings
/top20hub-services/.classpath
/top20hub-services/.project

/top20hub-parent/.project
/top20hub-parent/.settings